p {
  
}

h1 {
  display:inline-block;
  margin-left: 40%;
  font-size: 60px;
  height: 70px;
  color: blue;
  font-family:Verdana, Geneva, Tahoma, sans-serif
  
}

h2 {font-size:30px;
    position: absolute;
    left: 600px;
    top: 180px

}

ul {
  font-size: 50px;
}

body {
  background-color: #D2B48C;
  padding-left: 80px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  max-width: 2000px;
  margin-top: 0;
}

#photo {
  border-radius: 10%;
  width: 600px;
}


#links {
  font-size: 45px;
}

#competencias {
  font-size: 45px;
}


button {
  font-size: 30px;
}

button:hover {
  background-color: green;
}

.foto-header { 
}

.img-container {

  height: 330px;
  padding-bottom: 370px;

}

#descricao {
  position:absolute;
  top: 140px;
  left: 730px;

}

li:nth-child(odd) {
  background-color: turquoise;
}

#contato {
  font-size: 30px;
}

#lista {
  display: inline-table;
}

ul {
  margin-left: 40px;
}

#textos{
  font-size: 25px;
  max-width: 1000px;
  position: absolute;
  left: 730px;
  top: 300px;
}